body {
    background-color: teal;
}

.container {
    display: flex;
    flex-direction: column;
    margin-top: 10vh;
    margin-left: 55vh;
    height: 70vh;
    width: 85vh;
    background-color: teal
}


.caixas {
    margin-left: 0.1vh;
    margin-bottom: 0.1vh;
    width: 3vh;
    height: 3vh;
    border-radius: 3px;
    margin-top: 5px;
    border: none;
}

.funfa {
    margin-left: 0.1vh;
    margin-bottom: 0.1vh;
    width: 3vh;
    height: 3vh;
    border-radius: 3px;
    margin-top: 5px;
    border: none;
    background-color: green;
}

.nFunfa {
    margin-left: 0.1vh;
    margin-bottom: 0.1vh;
    width: 3vh;
    height: 3vh;
    border-radius: 3px;
    margin-top: 5px;
    border: none;
    background-color: red;
}

.inv {
    background-color: teal;
}