.container {
    display: flex;
    flex-direction: column;
    margin-top: 10vh;
    margin-left: 55vh;
    height: 70vh;
    width: 85vh;
    background-color: black;
    
}


.caixas {
    margin-left: 0.1vh;
    margin-bottom: 0.1vh;
    width: 3vh;
    height: 3vh;
}

.inv {
    background-color: black; 
} 