body {
    background-color: teal;
}

.container {
    display: flex;
    flex-direction: column;
    margin-top: 10vh;
    margin-left: 63vh;
    height: 70vh;
    width: 85vh;
    background-color: teal
}


.caixas {
    margin-left: 0.1vh;
    margin-bottom: 0.1vh;
    width: 3vh;
    height: 3vh;
    border-radius: 3px;
    margin-top: 5px;
    border: none;
}

.holder {
    background-color: rgb(17, 17, 17);
}

.inv {
    background-color: teal;
}

.container button {
    width: 15vh;
    margin-left: 30vh;
    margin-top: 5vh;
}